@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
  --main-bg-color: #023e8a;
  --main-bg-light-color: #f1faee;
}

.main-content {
  flex: 1;
}

.align-centered {
  text-align: center;
}

.align-right {
  float: right;
}

.btn-primary-custom,
.bg-primary-custom {
  background-color: var(--main-bg-color);
  color: var(--main-bg-light-color);
}

.link-primary-custom {
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: 500;
  background: none;
  border: none;
}

.custom-badge {
  border: none;
}

.btn-primary-custom:hover {
  background-color: var(--main-bg-light-color);
  color: var(--main-bg-color);
  border: 1px var(--main-bg-color) solid;
}

.toggle-button {
  margin-top: -65px;
}

.btn-secondary-custom {
  background-color: var(--main-bg-light-color);
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

.btn-secondary-custom:hover {
  background-color: var(--main-bg-color);
  color: var(--main-bg-light-color);
  border: 1px solid var(--main-bg-color);
}

.not-found-page-wrap {
  min-height: 100vh;
}

.tagline {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}